<nav class="w-full h-24 fixed flex justify-center items-center px-32 z-10 bg-white">
  <ul
    class="flex w-full justify-evenly items-center text-xl font-medium">
    <li><a href="/pages/whoWeArePg.html"> Who we are</a></li>
    <li><a href="/pages/servicePg.html"> Services</a></li>
    <li>
      <a href="/index.html">
        <img
          src="../../assets/Images/logo/HCODE-LOGO .png"
          class="h-11 mt-[5px]"
        />
      </a>
    </li>
    <li>Our Culture</li>
    <li>Contact</li>
  </ul>
</nav>
